{% extends "app/layout.html" %}

{% block content %}

<body>
    <h1 style="text-align:center"><b>Lista de Cestas</b></h1>
    <p></p>
    <div>
        <table class="table table-light" border="1">
            <thead>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preco</th>
                    <th>Produtos</th>
                </tr>
            </thead>
            <tbody>
                {% for cesta in cestas %}
                <tr class="table-active">
                    <td>{{ cesta.id }}</td>
                    <td>{{ cesta.nome }}</td>
                    <td>{{ cesta.quantidade }}</td>
                    <td>{{ cesta.preco }}</td>
                    <td>
                        {% for produto in cesta.produtos.all %}
                        <p>{{ produto}}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}